@font-face{
   font-family: "AngelDX";
   src: url("../fonts/Dancing Script OT.otf");
}

body{
	background-color: #004D40;
	font-family:  "AngelDX";
}


.contenedor{
	margin: 0 auto;
	width: 80%;
	border: 2px solid black;
	background-color: #01579B;
	border-radius: 20px;
	box-shadow: 5px 5px 20px black;
	animation: fadeIn 2s;
}

header{
	background-color: #0091EA;
	border-radius: 20px 20px 0px 0px;
	color: white;
	display: flex;
	flex-flow: row wrap;
	position: relative;
}

header h1{
	margin: 0px;
	margin: 40px 0px 0px 20px;
	text-shadow: 2px 2px 3px black;
}

.sistema{
	position: absolute;
	right: 5px;
	bottom: 5px;
	background-color: #00BCD4;
	padding: 5px 15px 5px 15px;
	box-shadow: 2px 2px 3px black;
	border-radius: 10px;
}

.sistema a{
	text-decoration: none;
	color: black;
	font-family: arial;
	font-size: 0.7em;
}

.titulo{
	width: 50%;
}

.logo{
	width: 50%;
	text-align: right;
}

.logo img{
	width: 200px;
	border-radius: 50%;
	margin: 5px 10px 0px 0px;
	box-shadow: 5px 5px 5px black;

}

.logo img:hover{
	transform: translateX(-20px);
}

nav{
	background-color: #00BCD4;
	text-align: center;
	
}

nav ol{
	margin: 0px;
	padding: 0px;
}

.mnu{

	display: inline-block;
	padding: 10px 5px 10px 5px;
}

.mnu:hover{
	background-color: #01579B;
}

.mnu a{
	color: red;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	font-family: arial;
	text-shadow: 2px 2px 2px black;
}


section{
	display: flex;
	flex-flow: row wrap;
}

.mensaje{
	width: 30%;
	text-align: center;
	border: 1px solid black;
	margin: 20px 0px 0px 20px;
	border-radius: 10px;
	background-color: #1DE9B6;
	box-shadow: 5px 5px 10px black;
}

.mtitulo{
	background-color: white;
	padding: 20px;
	border-radius: 10px 10px 0px 0px;
}

.mtitulo h2{
	margin: 0px;

}

.texto{
	
}

.slider{
	width: 60%;
	text-align: right;
}

.slider img{
	width: 80%;
}

.slider img:hover{
	transform: rotate(10deg);
}

.formulario{
	background-color: #03A9F4;
	width: 50%;
}

footer{
	margin-top: 10px;
	background-color: #03A9F4;
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
	text-align: center;
}
@keyframes fadeIn{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}


@media all and (max-width: 600px) {

	.titulo{
		width: 100%;
		text-align: center;
	}
	.logo{
		width: 100%;
		text-align: center;
	}

	.mensaje{
		width: 100%;
		text-align: center;
	}

	.slider{
		width: 100%;
		text-align: center;
	}

}
